--extra-index-url https://download.pytorch.org/whl/cu118

# phiên bản numpy và TF tương thích với Python3.11
numpy==1.24.2
tensorflow==2.13.0

# OpenCV, InsightFace, v.v.
opencv-python==4.7.0.72
onnx==1.14.0
insightface==0.7.3
psutil==5.9.5
tk==0.1.0
customtkinter==5.1.3
pillow==9.5.0

# PyTorch (Colab GPU)
torch==2.0.1+cu118
torchvision==0.15.2+cu118

# ONNX Runtime GPU cho Python3.11
onnxruntime-gpu==1.15.1

# thư viện khác
protobuf==4.23.2
tqdm==4.65.0
gfpgan==1.3.8
